body {
    background-color: #c5ebee;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

.mainbox {
    width: 60%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

input {
    font-family: 'Work Sans', sans-serif;
}

#tablestyle {
    font-family: 'Work Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablestyle td, #tablestyle th {
    padding: 8px;
}

#tablestyle tr:hover {background-color: #65e8e6;}

#tablestyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #408baf;
    color: white;
}