<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Ticket System Prototype</title>
			<link rel="stylesheet" type="text/css" href="static/mycss.css">
            <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	</head>
	
	<body>

    <!-- Task 1 -->
        <div class="mainbox">
            <h2>Add a customer</h2>
            {{ msg1 }} <br> {{ error1 }}
            <div class="flex">
            <form class="column" action = "addCustomer" method = "post" >
                <label>ID <input class="right" type="text" name="customerID"></label>
                <label>Name <input class="right" type="text" name="customerName"></label>
                <label>Email <input class="right" type="text" name="customerEmail"></label>
                <label><input class="right" type="submit" value="Add Customer"></label>
            </form>
            </div>
        </div>

    <!-- Task 2 -->
        <div class="mainbox">
            <h2>Create new ticket</h2>
            {{ msg2 }} <br> {{ error2 }}
            <div class="flex">
            <form class="column" action ="addTicket" method="post">
                <label>ID <input class="right" type="text" name="ticketID"></label>
                <label>Problem <input class="right" type="text" name="problem"></label>
                <label>Status <input class="right" type="text" name="status"></label>
                <label>Priority <input class="right" type="text" name="priority"></label>
                <label>Customer ID <input class="right" type="text" name="customerID"></label>
                <label>Product ID <input class="right" type="text" name="productID"></label>
                <label><input class="right" type="submit" value="Create ticket"></label>
            </form>
            </div>
        </div>

    <!-- Task 3 -->
        <div class="mainbox">
            <h2>Add update to ticket</h2>
            {{ msg3 }} <br> {{ error3 }}
            <div class="flex">
            <form class="column" action="addUpdate" method="post">
                <label>Ticket Update ID <input class="right" type="text" name="ticketupdateID"></label>
                <label>Update Message <input class="right" type="text" name="message"></label>
                <label>Ticket ID <input class="right" type="text" name="ticketID"></label>
                <label>Staff ID <input class="right" type="text" name="staffID"></label>
                <label><input class="right" type="submit" value="Add update"></label>
            </form>
            </div>
        </div>

    <!-- Task 4 -->
        <div class="mainbox">
            <h2>Open tickets</h2>
            {{ msg4 }} <br> {{ error4 }}
            <form action="openTickets" method="get">
                <input type="submit" value="View">
            </form>
        </div>

    <!-- Task 5 -->
        <div class="mainbox">
            <h2>Close ticket</h2>
            {{ msg5 }} <br> {{ error5 }}
            <div class="flex">
            <form class="column" action="closeTicket" method="post">
                <label>Ticket ID <input class="right" type="text" name="ticketID"></label>
                <label><input class="right" type="submit" value="Close ticket"></label>
            </form>
            </div>
        </div>

    <!-- Task 6 -->
        <div class="mainbox">
            <h2>List ticket details</h2>
            {{ msg6 }} <br> {{  error6 }}
            <div class="flex">
            <form class="column" action="listDetails" method="post">
                <label>Ticket ID <input class="right" type="text" name="ticketID"></label>
                <label><input class="right" type="submit" value="List details"></labeljames

            </form>
            </div>
        </div>

    <!-- Task 7 -->
        <div class="mainbox">
            <h2>Status of closed tickets</h2>
            {{ msg7 }} <br> {{ error7 }}
            <form action="closedStatus" method="get">
                <input type="submit" value="Get details">
            </form>
        </div>

    <!-- Task 8 -->
        <div class="mainbox">
            <h2>Remove customer</h2>
            {{ msg8 }} <br> {{ error8 }}
            <div class="flex">
            <form class="column" action="deleteCustomer" method="post">
                <label>Customer ID <input class="right" type="text" name="customerID"></label>
                <label><input class="right" type="submit" value="Remove Customer"></label>
            </form>
            </div>
        </div>

	</body>
</html>