<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Ticket System Prototype</title>
			<link rel="stylesheet" type="text/css" href="static/mycss.css">
            <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	</head>
	
	<body>

    <!-- Task 1 -->
        <div class="mainbox">
            <h2>Add a customer</h2>
            {{ msg1 }} <br> {{ error1 }}
            <form action = "addCustomer" method = "post" >
                ID <input type="text" name="customerID">
                Name <input type="text" name="customerName">
                Email <input type="text" name="customerEmail">
                <input type="submit" value="Add Customer">
            </form>
        </div>

    <!-- Task 2 -->
        <div class="mainbox">
            <h2>Create new ticket</h2>
            {{ msg2 }} <br> {{ error2 }}
            <form action ="addTicket" method="post">
                ID <input type="text" name="ticketID">
                Problem <input type="text" name="problem">
                Status <input type="text" name="status">
                Priority <input type="text" name="priority">
                Customer ID <input type="text" name="customerID">
                Product ID <input type="text" name="productID">
                <input type="submit" value="Create ticket">
            </form>
        </div>

    <!-- Task 3 -->
        <div class="mainbox">
            <h2>Add update to ticket</h2>
            {{ msg3 }} <br> {{ error3 }}
            <form action="addUpdate" method="post">
                Ticket Update ID <input type="text" name="ticketupdateID">
                Update Message <input type="text" name="message">
                Ticket ID <input type="text" name="ticketID">
                Staff ID <input type="text" name="staffID">
                <input type="submit" value="Add update">
            </form>
        </div>

    <!-- Task 4 -->
        <div class="mainbox">
            <h2>Open tickets</h2>
            {{ msg4 }} <br> {{ error4 }}
            <form action="openTickets" method="get">
                <input type="submit" value="View">
            </form>
        </div>

    <!-- Task 5 -->
        <div class="mainbox">
            <h2>Close ticket</h2>
            {{ msg5 }} <br> {{ error5 }}
            <form action="closeTicket" method="post">
                Ticket ID <input type="text" name="ticketID">
                <input type="submit" value="Close ticket">
            </form>
        </div>

    <!-- Task 6 -->
        <div class="mainbox">
            <h2>List ticket details</h2>
            {{ msg6 }} <br> {{  error6 }}
            <form action="listDetails" method="post">
                Ticket ID <input type="text" name="ticketID">
                <input type="submit" value="List details">
            </form>
        </div>

    <!-- Task 7 -->
        <div class="mainbox">
            <h2>Status of closed tickets</h2>
            {{ msg7 }} <br> {{ error7 }}
            <form action="closedStatus" method="get">
                <input type="submit" value="Get details">
            </form>
        </div>

    <!-- Task 8 -->
        <div class="mainbox">
            <h2>Remove customer</h2>
            {{ msg8 }} <br> {{ error8 }}
            <form action="deleteCustomer" method="post">
                Customer ID <input type="text" name="customerID">
                <input type="submit" value="Remove Customer">
            </form>
        </div>

	</body>
</html>